body{
    color: #ffffff;
    font-family: 'Nunito Semibold';
    text-align: center;
    padding: 0%;
    margin: 65px;
}

#Container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(5, minmax(150px,auto));
    max-width: 1200px;
    margin: 0 auto;
    border: solid 3px #000000;
    border-radius:30px;
}

#Container div{
    color: #000000;
    padding: 30px;
    margin: 10px;
    border: solid 3px #eaeaea7f;
    border-radius:30px;
}
